{% extends 'blog/base.html' %}
{#使用自定义标签和过滤器之前注意要载入#}
{% load blog_filter %}
{% block title %}
{{ post.author }}
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
{#  使用自定义的过滤器，注意过滤器的名字#}
{#    {{ post.body|linebreaks }}#}
    {{ post.body|markdown }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share this post
        </a>
    </p>
{#    使用with可以有效避免多次查询数据库？知道endwith结束之前#}
    {% with comments.count as total_comments %}
    <h2>
{#    pluralize的作用：在值不是1的后边添加s，如0 comments, 1 comment, N comments#}
    {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
{#                forloop.counter就是枚举计数#}
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>There are no comments yet.</p>
    {% endfor %}
    <h2>Similar posts</h2>
    {% for similar_post in similar_posts %}
        <p>
            <a href="{{ similar_post.get_absolute_url }}">{{ similar_post.title }}</a>
        </p>
        {% empty %}
        There is no similar posts yet!
    {% endfor %}

{#    当没有新建表单时#}
    {% if posted %}
        <h2>Your comments is added!</h2>
    {% endif %}
    <h2>Add New Comment</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add Comment"></p>
    </form>
{% endblock %}